
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  font-family: "Changa", sans-serif;
  font-style: normal
  
}

h1 {
  font-size: 50px;
  color:rgb(68, 59, 59);
}

#container {
  text-align: center;
}

#text-to-read {
  width: 700px; /* Set width to 400px */
  height: 350px; /* Optional: Set height */
  border-radius: 1%;
  font-size: 20px;
  
}

#voices {
  width: 200px; /* Set width to 200px */
  margin-bottom: 10px; /* Optional: Add some space below */
  height: 45px ;
  font-size: larger;
}

/* Style for stop button */
#stopButton {
  padding: 15px 15px; /* Increase padding for bigger button */
  font-size: 16px;
  margin-top: 10px;
  background-color: #ce0c0c; /* Red color */
  color: white;
  border: none ;
  cursor: pointer;

}

.speak {
  padding: 15px 15px; /* Increase padding for bigger button */
  font-size: 16px;
  margin-top: 10px;
  background-color: hsl(120, 65%, 18%);
  color: hsl(0, 0%, 100%);
  border: none;
  cursor: pointer;

}

#pauseButton {
  padding: 15px 15px; /* Increase padding for bigger button */
  font-size: 16px;
  margin-top: 10px;
  background-color: hsl(239, 64%, 26%);
  color: hsl(0, 0%, 100%);
  border: none;
  cursor: pointer;
}

#volumeButton {
  padding: 15px 15px; /* Increase padding for bigger button */
  font-size: 16px;
  margin-top: 10px;
  background-color: hsl(281, 60%, 29%);
  color: hsl(0, 0%, 100%);
  border: none;
  cursor: pointer;

}


.fa-solid.fa-volume-high {
 margin-bottom: 10px;
 font-size: 40px;
 color:rgb(68, 59, 59);
}

/*  Volume container style */
#volumeContainer {
display: none;
}
.volume-icon {
cursor: pointer;
}

#volumeButton, #volumeRange {
  display: inline-block;
  margin: -3px;
}
